h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Passion one", sans-serif;
}


/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/

.hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.hero-image > * {
  z-index: 100;
}
 /* Tint header background slightly */
.hero-mask {
  height: inherit;
  width: inherit;
  background: rgba(0,0,0,.3);
  z-index: 1;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.hero-image > *:hover .scroll-down-icon {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

}

.hero-full .hero-image {
  height: 100vh !important;
  width: 100% !important;
}

.hero-full .site-description {
    margin: 0 0 30px;
}

.hero-medium .hero-image {
  height: 70vh;
  width: 100%;
}

.hero-medium .site-description {
  margin: 0 auto 10px auto;
}

.hero-small .hero-image {
  height: 50vh;
  width: 100%;
}

.hero-small .site-description {
  display: none;
}

.hero-image .site-title a,
.hero-image .site-title {
  color: #fff;
  margin-bottom: 0;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-image .site-description {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

.navbar {
  transition: background-color 500ms linear;
}

.navbar-collapse .nav-item {
  padding-left: 1em;
}

#site-navigation .show .navbar-nav {
  background-color: rgba(33, 37, 41,.5) !important;
  transition: background-color 300ms linear;
  border-radius: $btn-border-radius;
}
/*
.hero-image .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

a.scroll-down {
	color: $white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.scroll-down:hover {
	color: $cyan;
}

/*--------------------------------------------------------------
# Pagination Bootstrap styling
# brimo_bs_post_nav()
--------------------------------------------------------------*/
.bs-page-item a {
  position: relative;
  display: block;
  color: $pagination-color;
  text-decoration: if($link-decoration == none, null, none);
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  padding: .375rem .75rem;

  @include transition($pagination-transition);

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 3;
    color: $pagination-focus-color;
    background-color: $pagination-focus-bg;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}

.bs-page-item {
  &:not(:first-child) a {
    margin-left: $pagination-margin-start;
  }

  &.active a {
    z-index: 3;
    color: $pagination-active-color;
    @include gradient-bg($pagination-active-bg);
    border-color: $pagination-active-border-color;
  }

  &.disabled a {
    color: $pagination-disabled-color;
    pointer-events: none;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}



// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }
@include media-breakpoint-up(sm) { }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }
@include media-breakpoint-up(md) {
  .back-to-top {
    bottom: 15px;
  }
  .hero .site-title {
    font-size: 4em;
  }

  .site-info {
    font-size: 1em;
  }
}

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }
@include media-breakpoint-up(lg) {
}
// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

@include media-breakpoint-up(xl) {
  .hero .site-title {
    font-size: 4rem;
  }

  .hero .site-description {
    font-size: 2em;
  }

  .hero .btn-gps {
    font-size: 2rem;
    width: 50%;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  background: $cyan;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}


/*--------------------------------------------------------------
## Entry
--------------------------------------------------------------*/

.entry-footer .edit-link {
  display: block;
}

/*--------------------------------------------------------------
## Breadcrumbs from Yoast
--------------------------------------------------------------*/

#breadcrumbs {
  font-size: 75%;
  color: #8e908f;
  margin: 1em 0 1em 0;
  padding-left: 1em;
}

#breadcrumbs a {
  display: inline;
  border: none;
  padding: 0;
  text-transform: none;
}

/*--------------------------------------------------------------
## Share buttons
--------------------------------------------------------------*/

.sb-social-icon h5.sb-title {
    margin: 0 0 1em 0;
    display: inline-block;
    line-height: 1.2;
    font-size: 9pt;
    font-weight: 700;
}

.sb-content ul {
    padding: 0;
    margin: 0 0 .7em 0;
    list-style: none;
}

.sb-content ul li {
    margin: 0 5px 5px 0;
    padding: 0;
}

.sb-content ul li {
    display: inline-block;
}

.sb-content .fab {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sb-content .fab:hover {
    opacity: 0.7;
    text-decoration: none;
}
.sb-content .fa-facebook:hover,
.sb-content .fa-facebook {
    background: #3B5998;
    color: white;
}

.sb-content .fa-twitter:hover,
.sb-content .fa-twitter {
    background: #55ACEE;
    color: white;
}

.sb-content .fa-google:hover,
.sb-content .fa-google {
    background: #dd4b39;
    color: white;
}

/* Google Maps */

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn-brimo {
  color: $white;
  background-color: #14787d;
  border-color: #11686c;
}

.btn-brimo:not(:disabled):not(.disabled):active, .btn-brimo:not(:disabled):not(.disabled).active, .show > .btn-brimo.dropdown-toggle {
    color: $white;
    background-color: #19999f;
    border-color: #11686c;
}

.btn-brimo:hover {
    color: $white;
    background-color: #16898e;
    border-color: #11686c;
}