/*
 Define custom variables here - variables.scss
*/
$brimo: #16898e;

$link-color: #16898e;
$link-hover-color: shift-color($link-color, 5%);

$navbar-dark-color: $white;
$navbar-dark-brand-color: $white;
$navbar-dark-brand-hover-color: #16898e;
$navbar-dark-active-color: #d2f6f8;
$navbar-dark-hover-color: #19999f;
$navbar-dark-disabled-color: $gray-400;
$navbar-dark-toggler-border-color: $white;

$pagination-color: $brimo;
$pagination-hover-color: $white;
$pagination-hover-bg: #199ea4;
$pagination-hover-border-color: #16898e;
$pagination-focus-color: #d2f6f8;
$pagination-focus-bg: #19999f;
$pagination-focus-box-shadow: 0 0 0 0.25rem rgba(22, 137, 142, 0.5);

$accordion-button-active-color: shade-color($brimo, 10%);
$accordion-button-focus-border-color: $pagination-focus-color;
$accordion-button-focus-box-shadow: $pagination-focus-box-shadow;

// Selects with floating cuts off text
$form-floating-height: add(3.8rem, $input-height-border);

// Change font display from auto to swap
$fa-font-display: swap;

:root {
--brimo: #16898e;
}
