/*
 Define custom variables here - variables.scss
*/

$link-color: $teal-600;
$navbar-dark-color: $white;
$navbar-dark-brand-color: $white;
$navbar-dark-brand-hover-color: #16898e;
$navbar-dark-active-color: #d2f6f8;
$navbar-dark-hover-color: #16898e;
$navbar-dark-disabled-color: $gray-400;
$navbar-dark-toggler-border-color: $white;
